.screen {
    height: 100vh;
    background: #495A95;
    background: -moz-linear-gradient(left, #495A95 0%, #335558 50%, #003E25 100%);
    background: -webkit-linear-gradient(left, #495A95 0%, #335558 50%, #003E25 100%);
    background: linear-gradient(to right, #495A95 0%, #335558 50%, #003E25 100%);
}